dist/

**/*/router-interceptor/loader/
**/*/router-interceptor/plugin/
**/*/i18n-utils/i18next-page-title-loader/


!*/**/mescroll.js/dist/

!*/**/themes/dist/

deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
.swc

.tsc

.README.md

.eslintcache

components.d.ts

inspect.config.js

.nvmrc